@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Anh Tài</h1>
    <h2>Anh Tài thêm vào khi ở branch anhtai1</h2>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<h2>Duy Thảo thêm vào branch duythao1</h2>
